  body {
    width: 375px;
    height: auto;
    background-color: #e5e5e5;
  }

  #header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: #fff;
  }

  #about_up {
    background-image: url(imgs/header_shapes_mobile.png);
    background-color: #fff;
    border-radius: 0 0 0 80px ;
    height: 700px;
    padding: 0 15px;
  }

  #about_down {
    background-color: #fff;
    border-radius: 0 80px 0 0;
    padding: 0 15px;
  }

  .about h1 {
    width: 327px;
    height: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    line-height: 50px;
    display: flex;
    align-items: center;
    padding: 90px 0 0 0;
    margin: 0;
  }

  .about p {
    width: 327px;
    height: 146px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 0;
  }

  .about h4 {
    width: 117px;
    height: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    color: #7f8cff;
    padding: 0;
  }

  #social {
    width: 117px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 0;
    align-items: center;
    list-style: none;
    margin: 0;
  }

  #works_cards {
    background-color: #e5e5e5;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    padding-top: 150px;
  }

  .cards {
    width: 327px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 150px;
  }

  .thumbnails {
    width: 295px;
    height: 220px;
    border-radius: 8px;
  }

  #work_1 {
    background: url(./imgs/works_1.png);
  }

  #work_2 {
    background: url(./imgs/works_2.png);
  }

  #work_3 {
    background: url(./imgs/works_3.png);
  }

  .project_title {
    width: 295px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: auto ;
    color: #172B4D;
    margin: 15px 0 5px 0;
  }

  .card_tags {
    width: 295px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    justify-content: space-evenly;
  }

  .card_info {
    width: 295px;
    height: 76px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin: 0;
  }

  #tags_info {
    color: #7a869a;
  }

  .card_categories {
    list-style: none;
    display: flex;
    padding-left: 0;
  }

  .card_categories li {
    padding: 4px 12px;
    background: #EBEBFF;
    color: #6070FF;
    border-radius: 8px;
    height: 16px;
    margin-right: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .see_more {
    width: 50%;
    height: auto;
    color: #396DF2;

    border-radius: 8px;
    border-color: #396DF2;
    border-style: solid;
    background-color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 9px;
    margin: 15px 0;
  }

  