  body {
    width: 375px;
  }

  #header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }

  #about {
    background-image: url(imgs/header_shapes_mobile.png);
  }

  #about h1 {
    width: 327px;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
    line-height: 50px;
    display: flex;
    align-items: center;
    padding: 100px 15px 0 15px;
  }

  #about p {
    width: 327px;
    height: 146px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding: 0 15px;
  }

  #about h4 {
    width: 117px;
    height: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    color: #7f8cff;
    padding: 0 15px;
  }

  #social {
    width: 117px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 80px 15px;
    align-items: center;
    list-style: none;
  }
